*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container-fluid{
	height: 900px;
	width: 950px;
	background-color: lightgrey;
}
#w{
	background-color: lightgreen;
}
.col-md-6{
	margin-top: 10px;
	height: 50px;
}
.card{
	width: 400px;
	background-color: white;
	margin: 20px;
}
img{
	border-radius: 50%;
	height: 100px;
	width: 90px;
	display: inline;
}
.f{
    margin-left: 10px;
	margin-top: 10px;
	display: inline;
}
.g{
	font-size: 15px;
	position: absolute;
	top: 80px;
	left: 120px;
}
.h{
	margin-top: 10px;
	margin-left: 60px;
	display: inline;
}
.j{
	display: inline;
	margin-left: 120px;
}
.i{
	margin-left: 60px;
}
.col-md{
	padding-left: 20px;
}
.card-body{
	position: relative;
}