.row{
	height: 600px;
	background-color: blue;
	color: white;
}
#f{
	border: 5px solid white;
	text-align: center;
}
#a{
	height: 300px;
}
#b{
	height: 150px;
}
#c{
	height: 150px;
}
#g{
	height: 100px;
}
#h{
	height: 200px;
}